// Define variables for your color scheme

// For example:
$red: #c91801;
$blue: #0168C9;
$yellow: #c9ae01;
$orange: #c97c01;
$green: #01c962;
$gray: #202020;
$light-gray: #D3D3D3;
$white: #FFFFFF;
$black: #000000;
