
<!-- <div class="banner" style="background-image: radial-gradient(rgba(201,74,1,0.4), rgba(201,74,1,0.3), rgba(1,104,201,0.5));"> -->
  <%= params %>
  <!-- main div  -->
  <div class="wrapper">
    <h2 class="text-center">All specialists in your selection</h2>
    <div class="container">
      <!-- splitsen in 2 delen (searchbox & result lijst) -->
      <div class="row">
        <div class="col-xs-6">
          <!-- searchbox links -->
            <div class="row">
              <%= render 'shared/searchbox' %>
            </div>
        </div>
        <div class="col-xs-6">
          <!-- kaarten rechts -->
          <div class="row">
            <% @specialists.each do |specialist| %><!-- no puts -->
            <!-- kaart renderen met specialist -->
            <%= render 'shared/card', specialist: specialist %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->


<!--   <div class="text-center padded" id="newsletter">
    <h2>Get news from us</h2>
    <p>Leave us your mail and get news from us</p>
    <form class="form-inline">
      <input type="email" placeholder="specialist@gmail.com" class="form-control">
      <input type="submit" value="Subscribe" class="btn btn-primary btn-bordered btn-bordered-primary">
    </form>
  </div> -->

  <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->



