
<div class="wrapper-blue">
  <div class="text-center">
    <h4>Your selected specialist<h4>
  </div>
  <% specialist = @specialist %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= render "specialist_info", specialist: specialist %>
      </div>
      <div class="col-xs-12 col-sm-8">
        <%= render "specialist_treatments", specialist: specialist %>
      </div>
    </div>
    <div class="row">
      <% specialist.reviews.each do |review| %>
        <div class="col-xs-12 col-md-12">
          <%= render "specialist_review", review: review %>
        </div>
      <% end %>
    </div>
  </div>
</div>
