<div class="row">
  <div class="col-xs-12">
    <div class="specialist_review">
      <h2 class="review_title"><%= review.title %></h2>
      <h3 class="review_author"><%= review.client %></h3>
      <div class="review_rating">
      <% review.rating.times do %>
        <span class="fa fa-star checked"></span>
      <% end %>
      <% (5-review.rating).times do %>
        <span class="fa fa-star"></span>
      <% end %>
      </div>
      <p class="review_content">review.content</p>
    </div>
  </div>
</div>

