// #header {
//   color: #828282;
//   padding: 50px;
// }


.wrapper-orange {
  background: $orange;
  color: white;
  padding: 20px;
}

.wrapper-orange p {
  color: $white;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

.card {
  border-radius: 2%;
  background: $blue;
  padding: 20px;
  margin: 20px 50px;
  height: 200px;

  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  box-shadow: 0 1px 10px rgba(0,0,0,0.6)
}

.card-user {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 80px;
  border-radius: 50%;
  box-shadow: 0 1px 5px rgba(0,0,0,0.6)
}
.card-category {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 20px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 16px;
  opacity: 0.8;
  font-weight: lighter;
}

.card-rating {
  position: absolute;
  // right: 20px;
  // bottom: 20px;
  left: 20px;
  top: 45px;
}

.checked {
  color: orange;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
