// #header {
//   color: #828282;
//   padding: 50px;
// }

.wrapper {
}

.wrapper-orange {
  background: $orange;
  color: white;
  padding: 20px;
}

.wrapper-orange p {
  color: $white;
}
.card {
  border-radius: 2%;
  background: $white;
  padding: 20px;
  margin: 20px 50px;
  height: 200px;
  background-size: cover !important;
  background-position: center;
  color: $blue;
  position: relative;
  box-shadow: 0 1px 10px rgba(0,0,0,0.6)
}
.card-user {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 80px;
  border-radius: 50%;
  box-shadow: 0 1px 5px rgba(0,0,0,0.6)
}
.card-category {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: $blue;
}
.card-description h2 {
  font-size: 24px;
  color: $blue;
}
.card-description p {
  font-size: 16px;
  opacity: 1;
  font-weight: lighter;
  color: $blue;
}

.card-rating {
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  position: absolute;
  left: 20px;
  top: 50px;
}

.checked {
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: orange;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.specialist_treatment_grid {
  display: grid;
  grid-template-rows: 200px;
  grid-template-columns: 70% 10% 10% 10%;
}

.specialist_treatment_description {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}

.specialist_treatment_duration {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}

.specialist_treatment_price {
  grid-row: 1 / span 1;
  grid-column: 3 / span 1;
}

.specialist_treatment_checkbox {
  grid-row: 1 / span 1;
  grid-column: 4 / span 1;
}
