.photobanner-wrapper {
  top: 70px;
  position: fixed;
  // text-align: center;
  // z-index: 2;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.photobanner {
  z-index: 2;
  text-align: center;
  height: calc(100vh - 70px);
  // /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photobanner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.8);
}
.photobanner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.9;
  margin-bottom: 30px;
}
