.wrapper {
  color: white;
  padding: 20px;
}
.specialist-card {
  border-radius: 2%;
  background: $white;
  padding: 20px;
  margin: 20px 8px;
  height: 400px;
  background-size: cover !important;
  background-position: center;
  color: $blue;
  position: relative;
  box-shadow: 0 1px 10px rgba(0,0,0,0.6)
}
.specialist-card-user {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 1px 5px rgba(0,0,0,0.6)
}
.specialist-card-category {
  position: absolute;
  text-align: center;
  top: 20px;
  font-size: 18px;
  text-transform: uppercase;
}
.specialist-card-description {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: $blue;
}
.card-description h2 {
  font-size: 24px;
  color: $blue;
}
.card-description p {
  font-size: 16px;
  opacity: 1;
  font-weight: lighter;
  color: $blue;
}
.specialist-card-rating {
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  font-size: 25px;
  position: absolute;
  // left: 50px;
  top: 280px;
}
.checked {
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: orange;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
