.wrapper {
  color: white;
  padding: 20px;
}
.specialist_info {
  border-radius: 2px;
  background: $white;
  padding: 20px;
  margin: 20px 8px;
  height: 400px;
  background-size: cover !important;
  background-position: center;
  color: $blue;
  position: relative;
  box-shadow: 0 1px 10px rgba(0,0,0,0.6)
}
.specialist_info_user {
  position: absolute;
  top: 65px;
  left: 20px;
  width: 150px;
  border-radius: 50%;
  box-shadow: 0 1px 5px rgba(0,0,0,0.6)
}
.specialist_info_category {
  font-weight: bold;
  position: absolute;
  text-align: center;
  top: 20px;
  font-size: 18px;
  text-transform: uppercase;
}
.specialist_info_description {
  position: absolute;
  bottom: 16px;
  left: 20px;
  color: $blue;
}
.specialist_info_description h2 {
  font-weight: bold;
  font-size: 20px;
  color: $blue;
}
.specialist_info_description p {
  font-size: 15px;
  opacity: 1;
  font-weight: lighter;
  color: $blue;
}
.specialist_info_rating {
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  font-size: 20px;
  position: absolute;
  // left: 50px;
  top: 240px;
}
.checked {
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: orange;
}
